.alert.alert-warning.alert-dismissible(role="alert")
  button.close(type="button",data-dismiss="alert")
    span(aria-hidden="true") &times;
    span.sr-only Close
  | We are no longer accepting submissions as the bowl games have started.
#item
